*.exe            binary
*.gif            binary
*.png            binary

/*.txt           text    eol=lf
build/*.txt      text    eol=lf
resources/*.txt  text    eol=crlf

*.cmd            text    eol=crlf
*.js             text    eol=crlf
README.md                eol=crlf
